body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 0px 10px;
  width: 100%;
}

h1 {
  color: #99c3ec;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(248, 248, 247);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;  
  color: aliceblue;
  border-right: 1px solid #99c3ec;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #99c3ec;
  padding: 16px;
  text-decoration: none;
  margin-left: 25px;
}

.sidebar svg {
  margin-right: 10px;
}

.sidebar a:hover {
  color: #2793ff;
}

.table-container {
  width: 85%;
  margin-top: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  table-layout: auto;
}

th, td {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background-color: #f2f2f2;
  color: #99c3ec;
  border-bottom: 2px solid #99c3ec;
}

tr:hover {
  background-color: #f5f5f5;
}

tr.even-row {
  background-color: #fff;
}

tr.odd-row {
  background-color: #f5f5f5;
}

tr.even-row td.highlight{
  background-color: #c9e0f7;
}

tr.odd-row td.highlight{
  background-color: #99c3ec;
}

button {
  padding: 10px 14px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
}

button.create {
  background-color: #99eca0;
}

button.edit, button.modal-save {
  background-color: #99c3ec;
}

button.delete {
  background-color: #ec9999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.modal-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  position: relative;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 36px;
  cursor: pointer;
  color: #555;
}

.modal-save {
  grid-column: span 2;
  width: 25%;
  margin: 0 auto;  
  font-size: 18px;
}

.modal-component label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-component input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-component input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.modal-component input[type="number"] {
  -moz-appearance: textfield;
}